
    /* Styles for Profile Picture */
.profile-pic {
    width: 300px; /* Set the width of the profile picture */
    height: 300px; /* Set the height of the profile picture */
    border-radius: 30%; /* Create a circular shape for the profile picture */
    object-fit: cover; /* Ensure the image covers the entire container */
    border: 3px solid #fff; /* Add a white border around the profile picture */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Apply a subtle shadow effect */
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}
  
  /* Styles for Profile Picture Container (Optional) */
  .profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    

  }
  
